// FONT FACES
@font-face {
  font-family: 'Avenir-Next';
  font-weight: normal;
  src: url("../../assets/fonts/avenir-next/AvenirNextLTPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Avenir-Next';
  font-weight: bold;
  src: url("../../assets/fonts/avenir-next/AvenirNextLTPro-Bold.otf") format("opentype");
}

// FONT VARIATIONS
$base-font: 'Work Sans', sans-serif;
$title-font: 'Avenir-Next', sans-serif;
$alt-font: 'Roboto', sans-serif;