@use '../../scss/global/colors' as colors;

.Loading {
  height: 100vh;
  width: 100%;
  background-color: colors.$base-bg;
  color: colors.$blue;
  display: flex;
  align-items: center;
  justify-content: center;

  // .LoadingImg {
  //   // 
  // }

  .loadingText {
    font-size: 2rem;
    font-weight: 600;
  }
}