// VARIABLES
$base-bg: #ffffff;
$mint: #39cdcc;
$mint-alt: #39cdcc0f;
$green: #39cd62;
$green-bg: #39cd620f;
$blue: #213f7d;
$gray: #545f7d;
$gray-alt: #545f7db3;
$gray-bg: #545f7d0f;
$yellow: #e9b200;
$yellow-bg: #e9b2001a;
$red: #e4033b;
$red-bg: #e4033b1a;
$border: #545f7d26;
$dropdown-bg: #213f7d1a;
$user-title: #000000cc;

$blank-bg: #e5e5e5; ;
