@use "../../scss/global/colors" as colors;
@use "../../scss/utils/functions" as fn;

.PopUp {
  width: 220px;
  height: 220px;
  background-color: #ffffff;
  border: #f0f4f4 2px solid;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  position: absolute;
  right: 20%;
  cursor: pointer;

  .PopUpClosebtn {
    font-size: 30px;
    right: 5%;
    top: 2%;
    position: absolute;
    color: #000;
    cursor: pointer;
  }

  .PopUPKebabMmenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    .PopUplistItem {
        display: flex;
        align-items: center;
        gap: fn.rem(10);
      list-style: none;
      margin: 10%;
      font-size: fn.rem(16);

      &:hover{
        color: colors.$mint;
      }
    }
  }
}
