*{
  // width: 100vw;
  // margin: 0;
  // padding: 0;
  // box-sizing: border-box;
  font-family: 'Work Sans'

}

.icons_img{
  width: 1rem;
  height: 1rem;
}

li{
  list-style: none;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;  
  color: #213F7D;
  &:hover{
    color: #213f7d;
  }
  
}

p{
font-size: 1.2rem;
color: #545F7D;

&:hover{
  color: #213f7d;
}

}

